/*******************************************************
  Style Color
********************************************************/
@import '../variables/theme_variables';

$linkColor		: #f7bb11;
$background		: $linkColor;
$background1		: $linkColor;
$base-url			:'../image/theme/color/orange/';
